.navbar {
  height: 70px!important;
  background-color: $navbar-dark-bg!important;
  justify-content: center;
}
.dropdownWrapper {
  color: $navbar-text;
}
.navbarAvatar {
  border: solid 2px white;
}